<a href="https://colab.research.google.com/github/uvsq22106356/l1-python/blob/master/04_listes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# TD 4: Listes

---

## 1. Débuts avec les listes

Dans cette partie, il faut écrire les réponses directement dans le notebook. En plus du cours, n'hésitez pas à consulter la documentation (tutoriel) Python sur les listes [ici (introduction aux listes)](https://docs.python.org/fr/3.6/tutorial/introduction.html#lists) et [ici (complément sur les listes)] (https://docs.python.org/fr/3/tutorial/datastructures.html#more-on-lists).

1. Créer la liste `3, 5, 10`, l'affecter à une variable, puis l'afficher.

In [ ]:
entiers = [3, 5, 10]
print(entiers)

[3, 5, 10]

In [ ]:
nom = ""
while nom == ""
  nom = input("quel est votre nom?"):

SyntaxError: ignored

2. Ajouter ensuite 12 et 17 à la fin puis afficher à nouveau la liste.

In [ ]:
entiers.append(12)
print(entiers)

[3, 5, 10, 12]

In [ ]:
entiers.append(17)
print(entiers)

[3, 5, 10, 12, 17]

3. Changer le 10 en -7.

In [ ]:
entiers=[3, 5, 10, 12, 17]
entiers[2]=-7
print(entiers)

[3, 5, -7, 12, 17]

4. Avec une boucle `for`, écrire le double de chaque élément de la liste. Cela doit afficher `[6, 10, -14, 24, 34]`. La liste doit être modifiée.

In [ ]:
michel=[i*2 for i in entiers]
print(michel)

[6, 10, -14, 24, 34]

5. A l'aide d'une boucle `for`, ajouter  la valeur `i` à l'élément d'indice `i` de la liste. Cela doit afficher `[6, 11, -12, 27, 38]`. La liste doit être modifiée.

In [ ]:
for i in range(len(michel)):
  michel[i]= michel[i]+i
print(michel)

[6, 11, -12, 27, 38]

6. Tirer 10 nombres à 2 chiffres au hasard et les mettre dans une nouvelle liste (vide au départ), puis afficher la somme des entiers de la liste et le plus grand de ces entiers.

In [ ]:
from random import *
liste=[]
for i in range(10):
  liste.append(randint(10,100))

In [ ]:
sum= "somme" additionne tous les entiers de la liste 
import random = importe un "dossier"

In [4]:
import random
liste=[]
for i in range(10):
  a=random.randint(10,100)
  liste.append(a)
print(liste)
sum(liste)

[87, 19, 62, 26, 93, 54, 100, 94, 42, 98]

675

7. A partir de la liste choisie au hasard, créer une liste qui contient les éléments pairs et une deuxième liste qui contient les éléments impairs.

In [5]:
pair=[]
impair=[]

for i in liste:
  if i%2==0:
    pair.append(i)
  else:
    impair.append(i)
print(pair)
print(impair)

[62, 26, 54, 100, 94, 42, 98]
[87, 19, 93]

8. Trier la liste choisie au hasard par ordre croissant en modifiant la liste.

In [6]:
dounia = sorted(liste)
print(dounia)

[19, 26, 42, 54, 62, 87, 93, 94, 98, 100]

9. Supprimer le plus petit et le plus grand élément de la liste triée.

In [7]:
dounia.remove(min(dounia))
dounia.remove(max(dounia))
print(dounia)

[26, 42, 54, 62, 87, 93, 94, 98]

10. Créer la liste des entiers de 1 jusqu'à 52. Ces entiers représentent les cartes d'un paquet de 52 cartes.

 11. Couper le jeu de carte revient à choisir un indice `i` entre 0 et 51, et à passer toutes les cartes allant des indices 0 à i-1 à la suite des cartes qui vont des indices i à 51. Ecrire le code qui effectue une coupe choisie au hasard.

---

## 2. Problème de Syracuse

Cette partie est à traiter dans un script que vous pouvez appeler, par exemple, `syracuse.py`.

En partant d'un entier `n` de départ, on définit une suite d'entiers en obtenant chaque nouveau terme à partir du précédent soit en le divisant par 2 s'il est pair, soit en le multipliant par 3 et en ajoutant 1 s'il est impair. 

1. Sans écrire de programme, calculer les premières valeurs de la suite en chosissant `n = 3`.

2. Ecrire la fonction qui, à partir d'un entier initial, renvoie la liste des valeurs successives jusqu'à ce que la valeur `1` soit atteinte (le dernier élément de la liste est donc toujours 1).

In [8]:
def syracuse(n):
    """ Retourne la liste des valeurs de la suite en partant de n jusqu'à 1 """
    if n % 2==0:
     n= n//2
    else:
      

print(syracuse(3))

None

In [13]:
n=4
y=n//2
print(y)

2

3. La conjecture de Collatz (ou problème de Syracuse) affirme que, quel que soit l’entier `n` que l’on choisisse au départ, on finit toujours par arriver à 1 (ce résultat est une *conjecture*, c'est-à-dire qu'il n'a pas été démontré, mais qu'il n'existe pas de contre-exemple connu). Écrire une fonction qui, en appelant la fonction précédente, va vérifier si la conjecture est vraie pour `n` de 1 à `n_max`, où `n_max` est un paramètre de la fonction. 

*Remarque*: si tout se passe bien, la fonction doit juste se terminer et renvoyer `True` par exemple. Sinon, c’est qu’on sera entré dans une boucle infinie.

In [ ]:
def testeConjecture(n_max):
    """ Teste la conjecture de Collatz pour toutes les valeurs de 2 à n_max """
    pass

print(testeConjecture(10000))

None

4. On appelle *temps de vol* de l’entier `n` le nombre d’étapes pour aller de `n` jusqu’à 1. Le temps de vol de 1 est 0, le temps de vol de 3 est 7. Écrire une fonction qui, étant donné un paramètre `n`, renvoie son temps de vol.

In [ ]:
def tempsVol(n):
    """ Retourne le temps de vol de n """
    pass

print("Le temps de vol de", 3, "est", tempsVol(3))

Le temps de vol de 3 est None

5. Ecrire une fonction qui, étant donné un paramètre `n_max` renvoie la liste des temps de vol de tous les entiers de 1 à `n_max`. *Indication*: utiliser une liste en compréhension.

In [ ]:
def tempsVolListe(n_max):
    """ Retourne la liste de tous les temps de vol de 1 à n_max """
    pass

print(tempsVolListe(100))

None

6. Déterminer quel entier entre 1 et 10000 a le plus grand temps de vol (réponse 6171 qui a le temps de vol 261).

7. L’altitude maximale de l'entier `n` est la plus grande valeur par laquelle passe `n` au cours de son vol. Déterminer quel entier entre 1 et 10000 a la plus grande altitude maximale (réponse 27114424, atteint par l'entier 9663). Ne pas hésiter à écrire de nouvelles fonctions pour cela.

---

## 3. Carré magique

*Définition* extraite de [l'article Wikipedia sur le carré magique](https://fr.wikipedia.org/wiki/Carr%C3%A9_magique_(math%C3%A9matiques)): en mathématiques, un carré magique d’ordre $n$ est composé de $n^2$ entiers strictement positifs, écrits sous la forme d’un tableau carré. Ces nombres sont disposés de sorte que leurs sommes sur chaque rangée, sur chaque colonne et sur chaque diagonale principale soient égales. On nomme alors *constante magique* la valeur de ces sommes. 

Un exemple de carré magique:

$$\begin{bmatrix} 4 & 14 & 15 & 1 \\ 9 & 7 & 6 & 12 \\ 5 & 11 & 10 & 8 \\ 16 & 2 & 3 & 13 \end{bmatrix}$$

1. Sans écrire de programme, vérifier qu'il s'agit bien d'un carré magique, et donner sa constante magique.

Les questions qui suivent doivent être traitées dans un script, qui peut s'appeler `carre_magique.py`. Pensez à utiliser [PythonTutor](http://pythontutor.com/) et les outils de programmation pour résoudre les problèmes qui pourraient survenir.

2. Créer une liste à deux dimensions affectée à  la variable `carre_mag` contenant ce carré magique.

3. Créer une deuxième liste affectée à la variable `carre_pas_mag` qui ne soit pas magique à partir du carré magique en changeant le 3 en 7.

4. Créer une fonction qui affiche la liste comme un carré.

In [ ]:
def afficheCarre(carre):
    """ Affiche la liste à 2 dimensions carre comme un carré"""
    pass

afficheCarre(carre_mag)
afficheCarre(carre_pas_mag)

NameError: ignored

5. Ecrire une fonction qui teste si les lignes du carré ont toutes la même somme. Cette fonction renvoie cette somme si c'est le cas, et `-1` sinon.

In [ ]:
def testLignesEgales(carre):
    """ Renvoie la somme des éléments d'une ligne de la liste 2D carre si toutes les lignes ont la même somme, et -1 sinon """
    pass

print(testLignesEgales(carre_mag))
print(testLignesEgales(carre_pas_mag))

6. Même question mais en testant les colonnes.

In [ ]:
def testColonnesEgales(carre):
    """ Renvoie la somme des éléments d'une colonne de la liste 2D carre si toutes les colonnes ont la même somme, et -1 sinon """
    pass

print(testColonnesEgales(carre_mag))
print(testColonnesEgales(carre_pas_mag))

7. Même question mais en testant les 2 diagonales.

In [ ]:
def testDiagonalesEgales(carre):
    """ Renvoie la somme des éléments d'une diagonale de la liste 2D carre si les 2 diagonales ont la même somme, et -1 sinon """
    pass

print(testDiagonalesEgales(carre_mag))
print(testDiagonalesEgales(carre_pas_mag))

8. Créer une fonction qui teste si un carré est magique. Elle retourne `True` si c'est le cas et `False` sinon.

In [ ]:
def estCarreMagique(carre):
    """ Renvoie True si c'est un carre magique et False sinon"""
    pass

print(estCarreMagique(carre_mag))
print(estCarreMagique(carre_pas_mag))

9. Un carré d'ordre $n$ est *normal* s'il contient tous les entiers de 1 à $n^2$. Ecrire une fonction qui teste si un carré est normal (pas nécessairement magique).

In [ ]:
def estNormal(carre):
    """ Retourne True si contient toutes les valeurs de 1 à n^2 où n est la taille 
        du carré, et False sinon """
    pass

print(estNormal(carre_mag))
print(estNormal(carre_pas_mag))